@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  cursor: pointer;
  padding-top: 1rem;
}
li:hover {
  transition: all 0.3s;
  text-decoration: underline;
}

@layer components {
  .btn {
    @apply border-2 rounded-full px-4 py-2 text-sm hover:border-gray-600;
  }
}